In [3]:
import numpy as np
import pandas as pd
from IPython.display import clear_output

In [4]:
# Load dataset.
dftrain = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')
dfeval = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv')
y_train = dftrain.pop('survived')
y_eval = dfeval.pop('survived')

In [17]:
print(dftrain.info)

<bound method DataFrame.info of         sex   age  n_siblings_spouses  parch      fare   class     deck  \
0      male  22.0                   1      0    7.2500   Third  unknown
1    female  38.0                   1      0   71.2833   First        C
2    female  26.0                   0      0    7.9250   Third  unknown
3    female  35.0                   1      0   53.1000   First        C
4      male  28.0                   0      0    8.4583   Third  unknown
5      male   2.0                   3      1   21.0750   Third  unknown
6    female  27.0                   0      2   11.1333   Third  unknown
7    female  14.0                   1      0   30.0708  Second  unknown
8    female   4.0                   1      1   16.7000   Third        G
9      male  20.0                   0      0    8.0500   Third  unknown
10     male  39.0                   1      5   31.2750   Third  unknown
11   female  14.0                   0      0    7.8542   Third  unknown
12     male   2.0                   4      1   29.1250   Third  unknown
13     male  28.0                   0      0   13.0000  Second  unknown
14   female  31.0                   1      0   18.0000   Third  unknown
15   female  28.0                   0      0    7.2250   Third  unknown
16     male  35.0                   0      0   26.0000  Second  unknown
17     male  28.0                   0      0   35.5000   First        A
18   female  38.0                   1      5   31.3875   Third  unknown
19     male  28.0                   0      0    7.2250   Third  unknown
20     male  19.0                   3      2  263.0000   First        C
21   female  28.0                   0      0    7.8792   Third  unknown
22     male  28.0                   0      0    7.8958   Third  unknown
23     male  40.0                   0      0   27.7208   First  unknown
24   female  28.0                   1      0  146.5208   First        B
25   female  28.0                   0      0    7.7500   Third  unknown
26     male  66.0                   0      0   10.5000  Second  unknown
27     male  28.0                   1      0   82.1708   First  unknown
28     male  42.0                   1      0   52.0000   First  unknown
29     male  28.0                   0      0    7.2292   Third  unknown
..      ...   ...                 ...    ...       ...     ...      ...
597    male  35.0                   0      0    7.8958   Third  unknown
598    male  28.0                   0      1   33.0000  Second  unknown
599  female  28.0                   1      0   89.1042   First        C
600    male   4.0                   4      2   31.2750   Third  unknown
601  female  16.0                   0      1   39.4000   First        D
602  female  18.0                   0      1    9.3500   Third  unknown
603  female  45.0                   1      1  164.8667   First  unknown
604    male  51.0                   0      0   26.5500   First        E
605  female  24.0                   0      3   19.2583   Third  unknown
606    male  41.0                   2      0   14.1083   Third  unknown
607    male  24.0                   0      0   13.0000  Second  unknown
608  female  42.0                   0      0   13.0000  Second  unknown
609  female  27.0                   1      0   13.8583  Second  unknown
610    male  31.0                   0      0   50.4958   First        A
611    male   4.0                   1      1   11.1333   Third  unknown
612    male  26.0                   0      0    7.8958   Third  unknown
613  female  47.0                   1      1   52.5542   First        D
614    male  33.0                   0      0    5.0000   First        B
615    male  47.0                   0      0    9.0000   Third  unknown
616  female  28.0                   1      0   24.0000  Second  unknown
617  female  15.0                   0      0    7.2250   Third  unknown
618    male  20.0                   0      0    9.8458   Third  unknown
619    male  19.0                   0      0    7.8958   Third  unknown
620    male  28.0                   0      0    7.8958   Third  unknown
621  female  22.0                   0      0   10.5167   Third  unknown
622    male  28.0                   0      0   10.5000  Second  unknown
623    male  25.0                   0      0    7.0500   Third  unknown
624  female  19.0                   0      0   30.0000   First        B
625  female  28.0                   1      2   23.4500   Third  unknown
626    male  32.0                   0      0    7.7500   Third  unknown

     embark_town alone
0    Southampton     n
1      Cherbourg     n
2    Southampton     y
3    Southampton     n
4     Queenstown     y
5    Southampton     n
6    Southampton     n
7      Cherbourg     n
8    Southampton     n
9    Southampton     y
10   Southampton     n
11   Southampton     y
12    Queenstown     n
13   Southampton     y
14   Southampton     n
15     Cherbourg     y
16   Southampton     y
17   Southampton     y
18   Southampton     n
19     Cherbourg     y
20   Southampton     n
21    Queenstown     y
22   Southampton     y
23     Cherbourg     y
24     Cherbourg     n
25    Queenstown     y
26   Southampton     y
27     Cherbourg     n
28   Southampton     n
29     Cherbourg     y
..           ...   ...
597    Cherbourg     y
598  Southampton     n
599    Cherbourg     n
600  Southampton     n
601  Southampton     n
602  Southampton     n
603  Southampton     n
604  Southampton     y
605    Cherbourg     n
606  Southampton     n
607  Southampton     y
608  Southampton     y
609    Cherbourg     n
610  Southampton     y
611  Southampton     n
612  Southampton     y
613  Southampton     n
614  Southampton     y
615  Southampton     y
616    Cherbourg     n
617    Cherbourg     y
618  Southampton     y
619  Southampton     y
620  Southampton     y
621  Southampton     y
622  Southampton     y
623  Southampton     y
624  Southampton     y
625  Southampton     n
626   Queenstown     y

[627 rows x 9 columns]>

In [21]:
sex = dftrain['sex'].unique()
print(sex)
display(dftrain.head())

['male' 'female']

,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,female,35.0,1,0,53.1000,First,C,Southampton,n
4,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [11]:
## Preprocess the data

In [9]:
import tensorflow as tf
#tf.random.set_seed(123)
fc = tf.feature_column
CATEGORICAL_COLUMNS = ['sex', 'n_siblings_spouses', 'parch', 'class', 'deck',
                       'embark_town', 'alone']
NUMERIC_COLUMNS = ['age', 'fare']
def one_hot_cat_column(feature_name, vocab):
  return fc.indicator_column(
      fc.categorical_column_with_vocabulary_list(feature_name,
                                                 vocab))
feature_columns = []
for feature_name in CATEGORICAL_COLUMNS:
  # Need to one-hot encode categorical features.
  vocabulary = dftrain[feature_name].unique()
  feature_columns.append(one_hot_cat_column(feature_name, vocabulary))

for feature_name in NUMERIC_COLUMNS:
  feature_columns.append(fc.numeric_column(feature_name,
                                           dtype=tf.float32))

In [12]:
# Use entire batch since this is such a small dataset.
NUM_EXAMPLES = len(y_train)

def make_input_fn(X, y, n_epochs=None, shuffle=True):
  def input_fn():
    dataset = tf.data.Dataset.from_tensor_slices((X.to_dict(orient='list'), y))
    if shuffle:
      dataset = dataset.shuffle(NUM_EXAMPLES)
    # For training, cycle thru dataset as many times as need (n_epochs=None).
    dataset = (dataset
      .repeat(n_epochs)
      .batch(NUM_EXAMPLES))
    return dataset
  return input_fn

# Training and evaluation input functions.
train_input_fn = make_input_fn(dftrain, y_train)
eval_input_fn = make_input_fn(dfeval, y_eval, shuffle=False, n_epochs=1)

In [ ]:
## Train model

In [16]:
params = {
  'n_trees': 50,
  'max_depth': 3,
  'n_batches_per_layer': 1,
  # You must enable center_bias = True to get DFCs. This will force the model to
  # make an initial prediction before using any features (e.g. use the mean of
  # the training labels for regression or log odds for classification when
  # using cross entropy loss).
  'center_bias': True
}

est = tf.estimator.BoostedTrees(feature_columns, **params)
# Train model.
est.train(train_input_fn, max_steps=100)

# Evaluation.
results = est.evaluate(eval_input_fn)
clear_output()
pd.Series(results).to_frame()

AttributeError: module 'tensorflow.python.estimator.estimator_lib' has no attribute 'BoostedTrees'

In [ ]:
## Model interpretation and plotting

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns_colors = sns.color_palette('colorblind')